.techoutil{
       height: 100vh;
       width: 100%;
        background-image: linear-gradient(360deg,black,rgba(0,0,0,0.9),black), url('/fond.jpg');
        z-index: -10;
        color: aqua;
}

.tech{
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
   
}

.outil{
    margin-top: 4rem;
}

.tech-list h1, .outil-list h1{
    margin-bottom: 2rem;
    text-align: center;
}

.tech-icone{
    display: grid;
    grid-template-columns: repeat(4,4fr);
    justify-content: center;
    gap: 5rem;
}

.icone {
    width: 5rem;
    height: 5rem;

    /* overflow: hidden; */
    display: flex;              /* Centre l’image */
    align-items: center;
    justify-content: center;
    background: #fff;           /* Fond blanc pour éviter un halo */
    box-shadow: 0 4px 10px rgba(0,0,0,0.1); /* Effet propre */
}

.icone img {
    background: #000;
    width: 100%;                /* Ajuste la taille pour éviter les coupures */
    height: 100%;
    object-fit: contain;       /* Garde le logo propre sans déformation */
    object-position: center;   /* Centre le logo */
}


.outil-icone{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.outil-icone div {
    width: 5rem;
    height: 5rem;

    /* overflow: hidden; */
    display: flex;              /* Centre l’image */
    align-items: center;
    justify-content: center;
    background: #fff;           /* Fond blanc pour éviter un halo */
    box-shadow: 0 4px 10px rgba(0,0,0,0.1); /* Effet propre */
}

.outil-icone div img {
    background: #000;
    width: 100%;                /* Ajuste la taille pour éviter les coupures */
    height: 100%;
    object-fit: contain;       /* Garde le logo propre sans déformation */
    object-position: center;   /* Centre le logo */
}

.outil-list h1{
    margin-bottom: 2rem;
}



@media (max-width: 1020px){
    
    .outil{
        margin-top: 5rem;
    }

    .tech-list h1, .outil-list h1{
        margin-bottom: 1rem;
        text-align: center;
        font-size: 200%;
    }

        
    .tech-icone{
       
        grid-template-columns: repeat(4,4fr);
        justify-content: center;
        gap: 2rem;
    }

    .icone , .outil-icone div{
        width: 4rem;
        height: 4rem;
    }

  
    .tech{
       padding-top: 5rem;
    }


}


@media (max-width: 800px){
    .outil{
        margin-top: 2rem;
    }

    .icone , .outil-icone div{
        width: 3.5rem;
        height: 3.5rem;
    }
}