
*{
           font-size: 100%;
}
.about{
    background-image:linear-gradient(360deg,rgba(0,0,0,0.9)), url('2.jpg');
    padding: 5rem;
    width: 100%;
    height: 100vh;

    align-items: center;
}



.about-title{
    text-align: center;
    color: aqua;
    padding-bottom: 2rem;
}   


.about-photo{
    width: 100%;
}

.about-content{
    width: 100%;
    height: 100%;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.about-content .title .title1{
   display: inline-block;
}

.title1 h1{
    /* font-size: 2.8rem; */
    font-weight: 200;
    position: relative;
    z-index: 2;
}

.about-table{
    background: #000;
}

tr{
    height: 2rem;
    /* border-bottom: 5px solid white; */
}
.td-table{
    width: 8rem;
}

.flex-about{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media (max-width: 1020px){
   .about{
        
        padding: 2rem 10rem;
        width: 100%;
        height: auto;
    
    }


    
    .about-title{
        font-size: 200%;
    }   

    .about-table{
        font-size: 90%;
    }
}
