@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "script";
    src: url("/fonts/LBRITEDI.TTF") format("truetype");
}


body {
  margin: 0;
  font-family: "script", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
